.modal {
	@apply bg-black/80
	backdrop-blur-xl
	fixed
	inset-0 
	z-50
	flex
	items-center
	justify-center;

	&-window {
		@apply px-20
		py-12
		bg-accent/10
		rounded-xl
		backdrop-blur-xl
		border
		border-white/50
		w-full
		max-w-[700px]
		relative;

		h2 {
			@apply text-center font-semibold text-2xl mb-8;
		}
	}

	&-form {
		@apply w-full
		space-y-6;

		&__input {
			@apply bg-transparent
			outline-none
			py-3
			
			w-full
			border-b
			border-white/50
			relative
			resize-none

			focus:placeholder:text-white

			after:content-['']
			after:w-1/2
			after:h-5
			after:absolute
			after:bottom-0
			after:left-0
			after:bg-white
			after:z-50;
		}

		&__button {
			@apply flex items-center py-1 pr-1 pl-6 border gap-[14px] rounded-full;

			.icon {
				background: linear-gradient(137.15deg, #d89382 0%, #894636 100%);

				@apply rounded-full w-[42px] h-[42px] overflow-hidden flex items-center justify-center;
			}
		}

		&__checkboxes {
			@apply grid grid-cols-2 gap-x-12 gap-y-5;

			label {
				@apply flex items-start gap-[10px] cursor-pointer;

				p {
					@apply opacity-50;
				}

				input {
					@apply appearance-none 
					min-w-[18px] 
					min-h-[18px] 
					border-2 
					border-accent/50 
					shrink-0 
					rounded-sm 
					relative 

					after:hidden
					after:content-['']
					after:w-full
					after:h-full
					after:inset-0
					after:absolute
					after:bg-no-repeat
					after:bg-center
					after:bg-[url('/icons/checked.svg')] 

					checked:after:block
					checked:border-accent;
				}
			}
		}
	}

	&-close {
		@apply absolute right-[30px] top-[30px];
	}
}
